<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">
        <span *ngIf="!(isLoading$ | async) && (exercises$ | async)">Time to start a workout!</span>
        <span *ngIf="!(isLoading$ | async) && !(exercises$ | async)">Aww Crap!</span>
      </mat-card-title>
      <mat-card-content *ngIf="!(isLoading$ | async) && (exercises$ | async)" fxLayoutAlign="center">
        <mat-form-field>
          <mat-select name="selectedExerciseId" placeholder="Select an Exercise" ngModel required>
            <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise.id">{{ exercise.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.invalid">Please choose an exercise!</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button mat-raised-button color="primary" [disabled]="f.invalid" *ngIf="(exercises$ | async)">START</button>
        <button mat-raised-button color="accent" (click)="fetchExercises()" *ngIf="!(exercises$ | async)">Try Again</button>
      </mat-card-actions>
      <mat-card-content *ngIf="isLoading$ | async" fxLayoutAlign="center">
        <mat-spinner></mat-spinner>
      </mat-card-content>
    </mat-card>
  </form>
</section>